._aboutSection ._aboutUs{
  max-width: 800px;
  margin: auto;
  padding: 50px 15px;
}
._aboutUs ._header{
  max-width: 500px;
  margin-bottom: 20px;
}
._aboutUs ._header h2{
  color: rgb(43, 43, 214);
  font-weight: 500;
  margin-bottom: 8px;
}
._aboutUs ._content{
  display: flex;
  gap: 15px;
}
._aboutUs ._content ._left, ._aboutUs ._content ._right{
  width: 50%;
}
._aboutUs ._content ._left{
  position: relative;
}
._aboutUs ._content ._left ._img-wrap{
  overflow: hidden;
  position: relative;
  border-radius: 25px;
}
._aboutUs ._content ._left ._img-wrap img{
  border-radius: 25px;
  width: 100%;
  height: 100%;
  display: block;
}
._aboutUs ._content ._left ._img-wrap::after{
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to top,
    rgba(0,0,0) 0%,
    rgba(0,0,0,0.6) 40%,
    rgba(0,0,0,0) 100%
  );
}
._aboutUs ._content ._left ._staff{
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  padding: 15px 15px;
}
._aboutUs ._content ._left ._staff ._logo{
  display: flex;
}
._aboutUs ._content ._left ._staff ._logo div{
  margin-right: -10px;
}
._aboutUs ._content ._left ._staff ._logo img{
  width: 40px;
  height: 40px;
  object-fit: cover;
  border: 1px solid white;
  border-radius: 20px;
}
._aboutUs ._content ._left ._staff ._dis{
  padding: 10px 0 5px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
._aboutUs ._content ._left ._staff ._dis h3{
  color: white;
}
._aboutUs ._content ._left ._staff ._dis p{
  color: white;
  opacity: 0.8;
  font-size: 15px;
}
._aboutUs ._content ._right ._top{
  display: flex;
  gap: 10px;
}
._aboutUs ._content ._right ._top img{
  width: 50px;
  height: 50px;
  border-radius: 20px;
  object-fit: cover;
}
._aboutUs ._content ._right ._top h3{
  font-size: 18px;
}
._aboutUs ._content ._right ._top p{
  font-size: 16px;
  opacity: 0.8;
}

@media screen and (max-width: 768px) {
  ._aboutSection ._aboutUs{
    padding: 20px 15px;
  }
  ._aboutUs ._content{
    margin-top: 30px;
    flex-direction: column;
    gap: 20px;
  }
  ._aboutUs ._content ._left, ._aboutUs ._content ._right{
    width: 100%;
  }
  ._aboutUs ._header{
    margin: auto;
    text-align: center;
  }
}