._chooseSection{
  background-color: #191a2e;
}

._chooseSection *{
  color: white;
}

._chooseSection ._container{
  max-width: 900px;
  margin: auto;
  padding: 50px 15px;
  margin-bottom: 50px;
}

._chooseSection ._container ._heading{
  color: rgb(43, 43, 214);
  font-weight: 500;
  margin-bottom: 8px;
}

._chooseSection ._container ._content ._top, ._chooseSection ._container ._content ._right{
  flex-basis: 50%;
}

._chooseSection ._container ._content ._top{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

._chooseSection ._container ._content ._top ._left h3{
  font-size: 35px;
}

._chooseSection ._container ._content ._top  ._right{
  display: flex;
  gap: 30px;
}

._chooseSection ._container ._content ._top  ._right div{
  display: flex;
  flex-direction: column;
}

._chooseSection ._container ._content ._top  ._right div ._big{
  font-size: 40px;
}

._chooseSection ._container ._content ._top  ._right div ._small{
  font-size: 10px;
}



._chooseSection ._container ._content ._bottom{
  display: flex;
  justify-content: space-between;
  align-items: stretch; 
  gap: 50px;
  margin-top: 50px;
}

._chooseSection ._container ._content ._bottom ._left, ._chooseSection ._container ._content ._bottom ._right{
  flex-basis: 50%;
}

._chooseSection ._container ._content ._bottom ._left ._img{
  height: 100%;
  background-image: url(https://media.istockphoto.com/id/109721441/photo/construction-repairman-on-stepladder.jpg?s=612x612&w=0&k=20&c=EfrN5suYTV9AjdjwDRoUSpJD29ZlTWjAPZPO3U5O-zs=);
  object-fit: cover;
  background-repeat: no-repeat;
  background-position: center 10%;
  border-radius: 20px;
}

._chooseSection ._container ._content ._bottom ._right{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

._chooseSection ._container ._content ._bottom ._right ._box{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

._chooseSection ._container ._content ._bottom ._right ._box h3{
  font-size: 20px;
}

._chooseSection ._container ._content ._bottom ._right ._box p{
  font-size: 13px;
}

._chooseSection ._container ._content ._bottom ._right .__top, ._chooseSection ._container ._content ._bottom ._right .__bottom{
  border-bottom: 1px solid rgb(61, 59, 59);
  display: flex;
  gap: 20px;
  padding-bottom: 30px;
}

@media screen and (max-width: 768px) {
  ._chooseSection ._container ._heading{
    text-align: center;
  }
  ._chooseSection ._container ._content ._top{
    flex-direction: column;
  }
  ._chooseSection ._container ._content ._top ._left h3{
    font-size: 35px;
    text-align: center;
  }

  ._chooseSection ._container ._content ._bottom{
    flex-direction: column;
  }
  ._chooseSection ._container ._content ._bottom ._left, ._chooseSection ._container ._content ._bottom ._right{
    flex-basis: 100%;
  }
  ._chooseSection ._container ._content ._bottom ._left ._img{
    height: 300px;
  }


  ._chooseSection ._container ._content ._bottom ._right .__top, ._chooseSection ._container ._content ._bottom ._right .__bottom{
    border: none;
    gap: 30px;
  }

}