._faqSection{
  position: relative;
  overflow: hidden;
  padding: 40px 0 50px 0;
  /* background-color: #152032; */
  /* background: linear-gradient(
    180deg,
    rgba(255,255,255,0.04) 0%,
    rgba(0,0,0,0.25) 100%
  ),
  #152032; */
  background: linear-gradient(
  to bottom,
    rgba(67, 35, 52,0.8),
    rgba(67, 35, 52,0.9),
    rgba(67, 35, 52,1)
  );
}

._faqSection::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='120' height='120'%3E%3Cfilter id='n'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.8' numOctaves='4' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='120' height='120' filter='url(%23n)' opacity='0.15'/%3E%3C/svg%3E");
  opacity: 1;
  pointer-events: none;
}

._faqSection ._faqContent{
  max-width: 800px;
  margin: auto;
  padding: 0px 15px;
}
._faqContent ._header{
  margin-bottom: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}
._faqContent ._header h2{
  background-color: rgb(163, 61, 61);
  color: white;
  font-weight: 500;
  font-size: 15px;
  padding: 2px 12px 4px;
  border-radius: 25px;
}
._faqContent ._faq{
  display: flex;
  flex-direction: column;
  gap: 8px;
}
._faq ._faqItem{
  /* background-color: #2b323f; */
  background: rgba(255,255,255,0.04);
  /* backdrop-filter: blur(8px); */
  border: 1px solid rgb(110, 106, 106);
  border-radius: 12px;
}
._faqItem ._faqHeading{
  display: flex;
  justify-content: space-between;
  padding: 8px 15px;
  cursor: pointer;
}
._faqHeading h3{
  margin-top: 5px;
  opacity: 0.9;
}
._faqHeading ._faqIcon{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 12px;
  border-radius: 50px;
  font-size: 20px;
}
._faqItem ._faqParagraph{
  overflow: hidden;
  height: 0;
  transition: height 0.3s ease;
}
._faqItem ._faqParagraph p{
  border-top: 1px solid rgb(68, 65, 65);
  padding: 12px 15px 6px;
  opacity: 0.9;
}
._faqItem ._faqParagraph ul{
  padding: 5px 45px;
}
