header{
  /* background-image: url(/assets/brand/banner-bgsdf.svg); */
  /* background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%); */
  
  width: 100%;
  /* min-height: 70vh; */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* Header Nav */
header ._nav{
  z-index: 999999;
  background-color: white;
}
header ._nav ._navContent{
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 15px;
}
._navContent ._logo span{
  font-size: 25px;
}
._navContent ._navLink ul{
  display: flex;
  gap: 20px;
}
._navContent ._navLink ._navBtn{
  background-color: rgb(103, 211, 93);
  color: white;
  padding: 8px 30px;
  border-radius: 12px;
}
._navContent ._openIcon, ._navContent ._closeIcon{
  cursor: pointer;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  padding: 5px;
  display: none;
}

/* Header Hero */
header ._headerHero{
  background-image: 
    linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0)
    ),
    url("/assets/brand/header-hero.jpg");
  height: 500px;
}
header ._headerHero ._headerHeroContent{
  max-width: 1200px;
  margin: auto;
  padding: 10px 15px;
}
._headerHero ._headerHeading{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 100%;
}
._headerHero ._headerHeading h1{
  font-size: 40px;
  font-weight: 600;
  color: white;
  text-align: center;
}
._headerHero ._headerHeading p{
  font-size: 16px;
  color: white;
  opacity: 0.8;
  text-align: center;
}

/* == Company == */
._company{
  padding: 0px 15px;
}
._company ._companyLogo{
  background-color: rgb(255, 255, 255);
  max-width: 1200px;
  margin: auto;
  height: 110px;
  border-radius: 8px;
  margin-top: -55px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
}
._companyLogo img{
  width: 60px;
  height: 60px;
  filter: grayscale(100%) brightness(1.2);
  opacity: 0.7;
}
._companyLogo ._kohinoorImg img{
  filter: brightness(0.3);
}

/* == 1200 == */
@media screen and (max-width: 1200px){
  header{
    min-height: 100%;
  }
  header ._headerHero{
    padding-bottom: 100px;
  }
}

@media screen and (max-width: 764px) {
  
  ._navContent ._navLink{
    position: fixed;
    top: 0;
    inset: 0;
    background: rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.8s ease, visibility 0.8s ease;
    z-index: 9999999;
  }
  ._navContent ._navLink.show{
    opacity: 1;
    visibility: visible;
  }
  ._navContent ._navLink ul{
    background-color: white;
    flex-direction: column;
    gap: 15px;
    justify-content: flex-end;
    min-width: 400px;
    min-height: 250px;
    position: relative;
    border-radius: 18px;
    overflow: hidden;
    padding: 10px 20px;
    border: 1px solid rgb(123, 255, 0);
  }
  ._navContent ._navLink ._navBtn{
    width: 100%;
    display: block;
    text-align: center;
  }
  ._navContent ._openIcon{
    display: flex;
  }
  ._navContent ._closeIcon{
    display: flex;
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: black;
    color: white;
  }
}