*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 20px;
  font-weight: normal;
  font-family: 'banglaFont', sans-serif;
  user-select: none;
  color: var(--textColorTwo);
}
/* == Font Setting == */
@font-face {
  font-family: 'banglaFont';
  src: url('../assets/fonts/bangla-font.ttf') format('truetype');
  font-display: swap;
  /* unicode-range: U+0980-09FF; */
}
/* @font-face {
  font-family: 'englishFont';
  src: url('/assets/fonts/english-font.ttf') format('truetype');
  font-display: swap;
  unicode-range: U+0000-007F;
} */
/* Custom Setting */
a{
  text-decoration: none;
}
ul{
  list-style-type: none;
}
._ul{
  padding-left: 45px;
  list-style: disc;
}
img{
  width: 100%;
}
/* == Root Setting */
:root {
  --bgColorOne: #161f32;
  --textColorOne: #111111;
  --textColorTwo: #ffffff;
  --card-bg: #f5f5f5;
  --border-color: #dddddd;
}
