*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 17px;
  font-weight: normal;
  font-family: 'englishFont', 'banglaFont', sans-serif;
  color: var(--text-color);
  user-select: none;
}
/* == Font Setting == */
@font-face {
  font-family: 'banglaFont';
  src: url('/assets/fonts/bangla-font.ttf') format('truetype');
  font-display: swap;
  unicode-range: U+0980-09FF; /* Bangla Unicode Range */
}
@font-face {
  font-family: 'englishFont';
  src: url('/assets/fonts/english-font.ttf') format('truetype');
  font-display: swap;
  unicode-range: U+0000-007F; /* Basic Latin (English) */
}
/* Custom Setting */
a{
  text-decoration: none;
}
ul{
  list-style-type: none;
}
._ul{
  padding-left: 45px;
  list-style: disc;
}
img{
  width: 100%;
}
/* == Root Setting */
:root {
  --bg-color: #ffffff;
  --text-color: #111111;
  --card-bg: #f5f5f5;
  --border-color: #dddddd;
}
